nav {
    height: 5rem;
}

.nav-link:hover {
    font-size: 20px;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}


.card {
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.social:hover {
    font-size: 20px;
}

#toggle-btn {
    background-color: white;
}

#toggle-btn:checked {
    background-color: #343a40;
}

